
<form (ngSubmit)="onSubmit()" #form="ngForm">
  <input type="text" name="name" placeholder="name"  [(ngModel)]="user.nameInput" #name="ngModel"/>

  <input type="text" name="occupation" placeholder="occupation" [(ngModel)]="user.occupationInput" #occupation="ngModel"/>

  <input type="email" name="email" placeholder="email" required email [(ngModel)]="user.emailInput" #email="ngModel" />

  <input type="text" name="subject" placeholder="subject" required  [(ngModel)]="user.subjectInput" #subject="ngModel"/>

  <textarea
    name="content"
    placeholder="content"
    required
    minlength="10"
    maxlength="255" [(ngModel)]="user.contentInput" #content="ngModel"></textarea>

  <button [disabled]="form.invalid" type="submit">submit</button>
</form>
