<div class="section-container">
    <div class="container">
        <div class="row">                   
            <div class="col-md-7">
                <img class="img-responsive" src="./assets/images/img-06.png" alt="">
            </div>

            <div class="col-md-5">
                <ul class="features">
                    <li>
                        <h3>Dui augue</h3>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                    </li>
                    <li>
                        <h3>Malesuada</h3>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                    </li>
                    <li>
                        <h3>Bibendum</h3>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                    </li>
                </ul>
            </div>
        

              
            <div class="row">
                <div class="col-md-4">
                        <img class="img-responsive page-base-image" src="./assets/images/logo-01.png" alt="">

                </div>
                <div class="col-md-4">
                        <img class="img-responsive page-base-image" src="./assets/images/logo-02.png" alt="">
                </div>
                <div class="col-md-4">
                        <img class="img-responsive page-base-image" src="./assets/images/logo-03.png" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
